<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="userDAO" class="com.neaghfoz.component.authorize.dao.impl.UserDAOImpl" parent="parentSessionFac"/>
    <bean id="roleDAO" class="com.neaghfoz.component.authorize.dao.impl.RoleDAOImpl" parent="parentSessionFac"/>
    <bean id="permissionDAO" class="com.neaghfoz.component.authorize.dao.impl.PermissionDAOImpl"
          parent="parentSessionFac"/>

    <bean id="userService" class="com.neaghfoz.component.authorize.service.impl.UserServiceImpl"/>
    <bean id="roleService" class="com.neaghfoz.component.authorize.service.impl.RoleServiceImpl"/>
</beans>